.Contenedor-principal{
    background: url('../Images/FondoKoala.png');
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
}

.Contenedor-buttones{
    padding-top: 5em;
}
